body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-column: 2/3;
  background-color: hsl(240, 5%, 35%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 3rem;
  padding-top: 1rem;
}

.upper-header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 2em 3fr 1fr;
  gap: 1em;
  align-items: center;
}

form input {
  width: 40%;
  height: 2rem;
  border-radius: 30px;
  padding: 4px 8px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  appearance: none;
}

.upper-right {
  display: grid;
  grid-template-columns: 2em 5rem 1fr;
  gap: 2rem;
  align-items: center;
}

.upper-right p {
  font-size: 24px;
  font-weight: 700;
}

.michaelscott {
  width: 5rem;
  border-radius: 100%;
}

.header-bottom {
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.header-bottom img {
  grid-row: 1/-1;
  width: 7rem;
  border-radius: 100%;
}

.header-bottom span {
  font-size: 22px;
  font-weight: 700;
}

.header-bottom .title {
  font-size: 34px;
}

.header-text {
  display: grid;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  font-size: 1rem;
  width: 110px;
  padding: 12px 24px;
  border-radius: 30px;
}

.sidebar {
  grid-row: 1/-1;
  background-color: hsl(240, 5%, 25%);
  color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 4rem;
  align-items: center;
  padding: 40px;
}

.dashboard-image {
  width: 100px;
}

.sidebar li {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1.5rem;
  align-items: center;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

#settings {
  padding-top: 4rem;
}

.main {
  background-color: hsl(240, 5%, 45%);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cards-section {
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.cards {
  background-color: hsl(0, 30%, 35%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0 1rem;
  align-content: space-around;
}

.cards h2 {
  font-size: 1.6rem;
  color: white;
  font-family: sans-serif;
}

.cards p {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
}

.card {
  background-color: #ffffff;
  color: black;
  text-align: left;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.icons img {
  height: 2.5rem;
}

.announcements {
  background-color: hsl(0, 0%, 55%);
  padding-right: 2rem;
  padding-left: 2rem;
}

.announcements p {
  margin-top: 0;
}

.announcements h4 {
  margin-bottom: 0;
}

.trending {
  padding-left: 2rem;
  background-color: hsl(129, 19%, 40%);
}

.trending-card {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0 0 1rem 0;
}

.trending img {
  width: 5rem;
  border-radius: 100%;
}

.trending-text {
  display: grid;
}

.trending-text .name {
  font-weight: 600;
  font-size: 1.1rem;
}
