body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-column: 2/3;
  background-color: hsl(240, 5%, 25%);
}

.sidebar {
  grid-row: 1/-1;
  background-color: hsl(240, 5%, 10%);
}

.main {
  background-color: hsl(240, 5%, 45%);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cards {
  grid-row: 1/-1;
  background-color: hsl(0, 30%, 35%);
}

.announcements {
  background-color: hsl(0, 0%, 55%);
}

.trending {
  background-color: hsl(129, 19%, 40%);
}
